footer
  .container.text-center
    p.pull-left © 2017 Code-AI, We own it all. Stealing would lead to dire consequences
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Code-AI/code-ai') GitHub Project
      li
        a(href='https://github.com/clearnote01') Utkarsh
      li
        a(href='https://github.com/hackboxlive') Shakti
      li
        a(href='https://github.com/ferbncode') Suyash
