extends layout

block content
  h1 Write Code Everyday!
  p.lead Questions you should try next
  hr
  .row
    .col-sm-12
      .loader#codeforces_form_loader
      .div.hidden#username_here #{username}
      form.form-inline(method="POST",id="codeforces_form")
        h4 Enter a codeforces Username
        .alert.alert-warning#codeforces_form_alert Some error occured
        .alert.alert-success#codeforces_form_alert2 Success! You can change username from profile page
        .form-group
          input.form-control(name="username",type="codeforces_username",id="codeforces_username")  
          //-.form-group
            //-label(for="pwd") Password:
            //-input.form-control(type="password",id="pwd")
          button.btn.btn-default(type="submit") Submit
        
      div#codeforces_profile(style="margin-top: 30px")
          .col-sm-6
              .panel-group#accordion
                .panel.panel-default
                  .panel-heading
                    .panel-title
                      a(data-toggle="collapse", data-parent="#accordion" href="#collapse6") Questions You should Solve next (click to hide)
                  .pane-collapse.collapse.in#collapse6
                    .panel-body
                        .loader#piechart_loader5
                        table.table.table-condensed#recommended_qs(style="max-height: 100px")
                            hdsf
                  .panel-heading
                    .panel-title
                      a(data-toggle="collapse", data-parent="#accordion" href="#collapse1") Solved Questions (click to hide)
                  .pane-collapse.collapse.in#collapse1
                    .panel-body
                        .loader#piechart_loader6
                        table.table.table-condensed#question_solved(style="max-height: 100px")
          .col-sm-6
              .panel-group#accordion2
                .panel.panel-default
                  .panel-heading
                    .panel-title
                      a(data-toggle="collapse", data-parent="#accordion2" href="#collapse4") Types of question attempted (click to hide)
                  .pane-collapse.collapse.in#collapse4
                    .panel-body
                        div#viz_pie1(style="width:100%;height:100%;")
                        .loader#piechart_loader
                  .panel-heading
                    .panel-title
                      a(data-toggle="collapse", data-parent="#accordion2" href="#collapse5") Languages used for questions (click to hide)
                  .pane-collapse.collapse.in#collapse5
                    .panel-body
                        div#viz_pie2(style="width:100%;height:100%;")
                        .loader#piechart_loader2
                  .panel-heading
                    .panel-title
                      a(data-toggle="collapse", data-parent="#accordion2" href="#collapse7") Week days based question distribution (click to hide)
                  .pane-collapse.collapse.in#collapse7
                    .panel-body
                        .loader#piechart_loader3
                        div#viz3(style="width:100%;height:100%;")
                  .panel-heading
                    .panel-title
                      a(data-toggle="collapse", data-parent="#accordion2" href="#collapse8") Day time based question distribution (click to hide)
                  .pane-collapse.collapse.in#collapse8
                    .panel-body
                        .loader#piechart_loader4
                        div#viz4(style="width:100%;height:100%;")
