extends layout

block content
  h1 Write Code Everyday!
  p.lead An awesome assistant that motivates you to code
  hr
  .row
    .col-sm-6
      h2 Inspiration
      p It is always recommended to solve competitive coding problems in teams, and that too people who are equally devoted and have mindset like you. But the sad fact is, you might not get people like them around you. At this moment, many of us start treading the path on our own, and sooner or later we all get frustrated and step out of the way. Or sometimes, we are tired of searching questions to do which should be challenging and should make us scratch our head, but at the same time should not make us frustrated upon seeing the question. Well, there exist some verey good platforms already but then again, we cannot completely judge accurately whether or not this problem is the one which is gonna give you the kicks!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Why you need Code-AI
      p We present before you your personal Coding Assistant which challenges you according to your level and presents before you the questions which match your level right now and at the same time are challenging enough for you. This way, you don't have to search across hundreds of questions saving you your precious time, along with having a personal assistant with you at your disposal all the time. Happy coding!!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 What all is in it?
      p Code-Ai presents before you a variety of visualizations and features which is sure gonna mesmerize you. The graphs, the charts and the data is presented before you in a very interactive way showing you your strengths, weaknesses, and your coding days, and many other stuff. Go through the code section and try it out. Any criticism will be highly appreciated.
      p
        a.btn.btn-default(href='#', role='button') View details »
