extends layout

block content
  h1 Write Code Everyday!
  p.lead An awesome assistant that motivates you to code
  hr
  .row
    .col-sm-12
      h2 What we do
      p Elit nostrum nostrum temporibus provident dolorum labore porro ducimus autem odit. Reprehenderit provident aliquid possimus eius esse maxime dolor! Corrupti illum voluptas quasi rerum est aliquam. Suscipit enim modi consequatur. Ipsum architecto magni voluptates rerum laudantium? Vero accusamus minima magni unde tempore. Laudantium voluptas aperiam voluptas cumque magni. Ipsam quidem fugiat optio iste beatae repellat repellat odit eum! Minima quibusdam?
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Why you need Code-AI
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Some other stuff
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Say other cool shit
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
